.step-verify-token {
    width: 1168px;
    padding: 24px;
    border: 1px solid gray;
    margin: 0 auto;
    >*+* {
        margin-top: 24px;
    }
    .token-address {
        >*+* {
            margin-top: 4px;
        }
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .list-radio-optional {
        >*+* {
            margin-top: 16px;
        }
        .flex-column {
            display: flex;
            flex-direction: column;
            >*+* {
                margin-top: 8px;
            }
            .note {
                color: blue;
            }
        }
        .option-item {
            >*+* {
                margin-top: 8px;
            }
        }
    }
    .next-step {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.step-fair-launch-info {
    width: 1168px;
    padding: 24px;
    border: 1px solid gray;
    margin: 0 auto;
    >*+* {
        margin-top: 12px;
    }
    .soft-cap,
    .liquidity {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .range-time {
        .select-time {
            display: flex;
            align-items: center;
            >*+* {
                margin-left: 16px;
            }
            .flex-1 {
                flex: 1 1 auto;
            }
        }
    }
    .button-step {
        display: flex;
        align-items: center;
        justify-content: center;
        >*+* {
            margin-left: 16px;
        }
    }
}

.step-add-additional-info {
    width: 1168px;
    padding: 24px;
    border: 1px solid gray;
    margin: 0 auto;
    >*+* {
        margin-top: 12px;
    }
    .list-info-social-network {
        >*+* {
            margin-top: 16px;
        }
        .line {
            display: flex;
            align-items: center;
            >*+* {
                margin-left: 16px;
            }
            .left,
            .right {
                flex: 1 1 auto;
            }
        }
    }
    .button-step {
        display: flex;
        align-items: center;
        justify-content: center;
        >*+* {
            margin-left: 16px;
        }

    }
}

.step-finish {
    width: 1168px;
    padding: 24px;
    border: 1px solid gray;
    margin: 0 auto;
    .list-info {
        >*+* {
            margin-top: 12px;
        }
        .info-item {
            padding-bottom: 12px;
            border-bottom: 1px solid gray;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
    }
    .button-step {
        display: flex;
        align-items: center;
        justify-content: center;
        >*+* {
            margin-left: 16px;
        }

    }
}